body {
  background-color: #dadada;
  font-size: 10px;
}
div {
  width: 100%;
}
img {
  width:200px;
  height: 100px;

}
@media screen and (min-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
    float: left;
  }
  img {
    width: 200px;
    height: 100px;
  }
}
@media screen and (min-width: 991px) {
  div {
    margin: 1%;
    width: 22%;
    float: left;
  }
  img {
    width: 200px;
    height: 100px;
  }
}
