body {
  background-color: #dadada;
  font-size: 30px;
  text-align: center;
}

div {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 40px;
}


@media screen and (min-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
    float: left;
    height: auto;
  }
}


@media screen and (min-width: 991px) {
  div {
    margin: 1%;
    width: 22%;
    float: left;
  }

}

.baku {
  background-image:
    url("../images/baku.jpg");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}


.london {
  background-image:
    url("../images/london.png");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}

.madrid {
  background-image:
    url("../images/madrid.jpg");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}

.rome {
  background-image:
    url("../images/rome.jpg");
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 400px;
}
