body {
  background-color: #dadada;
  font-size: 10px;
}
div {
  width: 100%;
}
@media screen and (min-width: 575px) {
  div {
    margin: 1%;
    width: 48%;
    float: left;
  }
}
@media screen and (min-width: 991px) {
  div {
    margin: 1%;
    width: 22%;
    float: left;
  }
}
